@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  /* colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* font sizes */
  --p-font-size: 16px;
  --h1-font-size: 1.5em;

  /* font weights */
  --m-font-weight: 500;
  --l-font-weight: 700;
  --xl-font-weight: 900;

  /* font families */
  --red-hat: 'Red Hat Display', sans-serif;

  /* spacings */
  --xxs-spacing: .5rem;
  --xs-spacing: 1rem;
  --s-spacing: 1.5rem;
  --m-spacing: 2rem;

  /* borders */
  --m-border-radius: 10px;
  --l-border-radius: 20px;

  /* media queries */
  --mobile-size: 30rem;
}

/* css reset */
html,
body {
  height: 100%;
}

body,
h1,
p {
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: var(--red-hat);
  font-weight: var(--m-font-weight);
}

p {
  max-width: 60ch;
}
/* end of css reset */

button {
  cursor: pointer;
  font-family: inherit;
}

.order-summary {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  padding: 0 var(--m-spacing);

  background: var(--pale-blue) url(./images/pattern-background-mobile.svg) no-repeat;
  background-size: 100% !important;
}

body {
  display: flex;
  flex-direction: column;
}

.order-summary {
  max-width: var(--mobile-size);
  flex-direction: column;
  margin: auto;

  background: #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.order-summary,
.order-summary__header__image {
  border-radius: var(--l-border-radius);
}

.order-summary__header {
  width: 100%;
}

.order-summary__header__image {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.order-summary__content {
  margin: 0 var(--s-spacing);

  text-align: center;
}

.order-summary__content__title {
  margin: var(--m-spacing) 0;

  font-weight: var(--xl-font-weight);
  font-size: var(--h1-font-size);
  color: var(--dark-blue);
}

.order-summary__content__desc {
  margin-bottom: var(--m-spacing);

  color: var(--desaturated-blue);
}

.order-summary__content__billing-options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: var(--m-border-radius);
  padding: var(--xxs-spacing) var(--xs-spacing);
  margin-bottom: var(--m-spacing);

  background: var(--very-pale-blue);
}

.order-summary__content__billing-options__desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--xs-spacing);

  text-align: left;
  font-size: .9em;
}

.order-summary__content__billing-options__desc div:first-child {
  display: flex;
  flex-direction: column;
}

.order-summary__content__billing-options__desc__plan {
  color: var(--dark-blue);
  font-weight: var(--l-font-weight);
}

.order-summary__content__billing-options__desc__price {
  color: var(--desaturated-blue);
  font-size: .9em;
} 

.order-summary__content__billing-options__desc::before {
  content: url('./images/icon-music.svg');
}

.order-summary__content__billing-options__change-button {
  border: inherit;
  background: inherit;

  color: var(--bright-blue);
  font-weight: var(--l-font-weight);
  text-decoration: underline;
}

.order-summary__content__payment-button {
  width: 100%;
  padding: var(--xs-spacing) 0;
  margin-bottom: var(--m-spacing);

  border: inherit;
  border-radius: var(--m-border-radius);
  background: var(--bright-blue);

  color: #fff;
  font-weight: var(--xl-font-weight);
  font-size: .9em;

  box-shadow: 0px 10px 20px hsl(245, 75%, 82%);
}

.order-summary__content__cancel-button {
  margin-bottom: var(--m-spacing);

  border: inherit;
  background: inherit;

  color: var(--desaturated-blue);
  font-weight: var(--xl-font-weight);
  font-size: .9em;
}

@media screen and (min-width: 70rem) {  /* because not using scss, cannot call the variable */
  body {
    background: var(--pale-blue) url(./images/pattern-background-desktop.svg) no-repeat;
  }
}