@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  /* colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* font sizes */
  --p-font-size: 16px;

  /* font weights */
  --m-font-weight: 500;
  --l-font-weight: 700;
  --xl-font-weight: 900;

  /* font families */
  --red-hat: 'Red Hat Display', sans-serif;
}

/* css reset */
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

body {
  font-family: var(--red-hat);
  font-weight: var(--m-font-weight);
}
/* end of css reset */